/*
* @Author: 卓圳宝
* @Date:   2017-08-31 17:21:54
* @Last Modified by:   卓圳宝
* @Last Modified time: 2017-08-31 17:53:10
*/
ul,li{
	padding:0;
	margin: 0;
}
.pokemons{
	display: flex;
	flex-wrap:wrap;
	justify-content:space-between;
	margin-top: 20px;
}