/*
* @Author: 卓圳宝
* @Date:   2017-08-31 16:43:12
* @Last Modified by:   卓圳宝
* @Last Modified time: 2017-08-31 17:21:25
*/
.pokemons{
	&__item{
		display: inline-block;
		border:1px solid #eee;
		padding:10px;
		text-align: center;
	}
	&__id{
		position: absolute;
		z-index: 1;
		font-size: 20px;
		font-weight: bold;
		opacity: .3;
	}
	&__img{
		img{

		}
	}
	&__name{
		font-size: 14px;
	}
}