/*
* @Author: 卓圳宝
* @Date:   2017-08-31 17:42:21
* @Last Modified by:   卓圳宝
* @Last Modified time: 2017-08-31 17:45:40
*/
.input{
	border-radius: 5px;
	border:1px solid #d0d0d0;
	padding:5px 8px;
	width: 100%;
	box-sizing:border-box;
	font-size: 18px;
}